<%= title "About" %>
<h3> <%= yield :title %></h3>
<h2>
  This app was designed as an exercise in Ruby on Rails. It follows 
  <%= link_to "The Odin Project", "https://www.theodinproject.com/home" %>
  cirrciculum, specifically the 
  <%= link_to "Odin-Facebook", "https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project" %>
  project.
</h2>
