<% title 'User List' %>

<div id="users">
<% for user in @users %>
  <p>
    <%= gravatar_for user, size: 50 %>
    <strong><%= link_to user.name, user %></strong>

    <% if user == current_user %>
      This is you!
    <% elsif current_user.pending_friends.include?(user) %>
      Friend Request Sent
    <% elsif user.pending_friends.include?(current_user) %>
      <%= link_to "#{user.name} wants to be friends!",
        friend_requests_path(friend_id: user.id) %>

    <% elsif !current_user.friends.include?(user) %>
      <%= link_to "Send Friend Request",
        friend_requests_path(friend_id: user.id),
        method: :post %>
    <% else %>
      Already Friends!
    <% end %>
    <div class="clear"></div>
  </p>
<% end %>
</div>
